*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.bbl

__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
env/
.env

data_cache/
data/*/
task1/data/stl10_binary/
shared/data/
*.tar.gz
*.zip

checkpoints/
task1/checkpoints/
task2/checkpoints/
task3/checkpoints/
task4/checkpoints/
*.pth
*.pt

wandb/
runs/
logs/

